{% extends "layout.html" %}
{% load static %}
{% block title %}
About PROTON
{% endblock %}

{% block styles %}
<style>
    @font-face { 
    font-family: 'Optician Sans'; 
    src: url("/static/fonts/Optician-Sans.otf") format("opentype"); 
    }

    @font-face { 
        font-family: 'VT323'; 
        src: url("/static/fonts/VT323-Regular.ttf") format("truetype"); 
    }

    .about-section {
        font-family: 'Optician Sans', sans-serif;
        display: flex;
        flex-direction: row;
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .about-content {
        flex: 1;
        margin-right: 20px;
        font-size: 0.6em;
    }
    .about-content h2 {
        font-size: 3em;
        color: #00ff00;
    }
    .about-content p {
        font-size: 1.2em;
        line-height: 1.6;
    }

    .about-section-img {
        padding-top: 80px;
    }

    .about-section-img img{
        /* width: fill; */
        height: 40vh;
        padding: 100px 0;
        object-fit:fill;
    }

    .team-section {
        font-family: 'Optician Sans', sans-serif;
        width: 80%;
        font-size: 0.5em;
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .team-section h2 {
        font-size: 2em;
        color: #00ff00;
        text-align: center;
    }
    .team-members {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 40px;
        
    }
    .team-member {
        flex: 1 1 25%;
        text-align: center;
        margin: 20px;
    }
    .team-member img {
        object-fit: cover;
        border-radius: 50%;
        width: 170px;
        height: 170px;
    }
    .team-member h3 {
        font-size: 1.5em;
        color: #00ff00;
        margin: 10px 0 5px;
    }
    .team-member p {
        font-size: 1em;
        color: #cccccc;
    }
    .view-all {
        text-align: center;
        margin-top: 20px;
    }
    .view-all a {
        color: #00ff00;
        text-decoration: none;
        font-size: 1.2em;
        border: 2px solid #00ff00;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }
    .view-all a:hover {
        background-color: #00ff00;
        color: #1a1a1a;
    }
</style>
{% endblock %}

{% block content %}

<div class="about-section">
    <div class="about-content">
     <h2>
      Our Mission
     </h2>
     <p>
        PROTON is the official cybersecurity association of our college, dedicated to creating a security-aware community. We focus on bridging the gap between theoretical knowledge and real-world applications through engaging workshops, hands-on training, and cybersecurity competitions. </p>
     <p>
        At PROTON, we believe in learning through experience, encouraging collaboration, and staying ahead in the ever-evolving world of cybersecurity. Whether you're a beginner exploring the field or an expert honing your skills, our community provides the perfect platform to grow, connect, and innovate in the realm of cybersecurity.    
    </p>
    <p>
        Welcome to Proton Club. Think deeper. Hack smarter. Stay secure.
    </p>
    </div>
    <div class="about-section-img">
        <img alt="Proton'24" height="200"  src="https://res.cloudinary.com/dzcwrwx30/image/upload/v1740048252/Proton24-min_vabhpg.jpg" width="600"/>
    </div>
   </div>
   <div class="team-section">
    <h2>
     Meet Our Team
    </h2>
    <div class="team-members">
        {% for member in members %}
            <div class="team-member">
             <img alt="photo" height="150" src="{{member.image.url}}" width="150"/>
             <h3>
                {{ member.name }}
             </h3>
             <p>
                {{ member.role }}
             </p>
            </div>
        {% endfor %}
    </div>
    <div class="view-all">
     <a href="{% url 'team' %}">
      View All ->
     </a>
    </div>
   </div>

{% endblock %}

{% block scripts %}
{% endblock %}
